body { 
	background-color: black;
	color: rgba(255, 255, 255, 0.87);
}

.footer {
	position: fixed;
    bottom: 0px;
    width:100%;
    /* remove z-index to put footer under the content */
    z-index: 102;
}